* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text-color);
}

*::selection {
  background-color: transparent;
  color: #683C11;
}

@font-face {
  font-family: 'Sketch';
  src: local('Sketch'), url("./assets/fonts/Sketch.ttf") format('truetype');
}

@font-face {
  font-family: 'Girlfriend';
  src: local('Girlfriend'), url("./assets/fonts/Girlfriend.ttf") format('truetype');
}

@font-face {
  font-family: 'Bernardo';
  src: local('Bernardo'), url("./assets/fonts/Bernardo Moda contrast.ttf") format('truetype');
}

@font-face {
  font-family: 'Gogh';
  src: local('Gogh'), url("./assets/fonts/Gogh-ExtraBold.otf") format('opentype');
}

html,
body {
  font-family: Girlfriend, "Roslindale Display Condensed", serif;
  background-color: var(--background-color);
}

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.nav-links {
  display: flex;
}

.logo,
.nav-item {
  font-weight: 200;
  font-size: 1.5vw;
  margin: 1em 2em 1.5em 1em;
}

.nav-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-item .nav-toggle {
  position: relative;
  right: 60%;
}

.nav-item .lang-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.nav-item .lang-btn.en {
  border-right: 1px solid #000;
  padding-right: 17%;
}

.nav-item .lang-btn.active {
  font-weight: 700;
}

.inner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
  background-color: #000;
}

.page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.inner .page {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.inner .page div {
  height: 100vh;
}

.inner .page div  .content-page.home {
  width: 100vw;
  position: relative;
  display: flex;
  gap: 3%;
  background-color: var(--background-color);
}

.inner .page div .content-page.home .level3D {
  position: fixed;
  top: 10%;
  left: 0;
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
}

.inner .page div .content-page.about {
  width: 100vw;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 3%;
  background-color: var(--background-color);
}

.inner .page div .content-page.about h1{
  font-family: 'Gogh';
}

.inner .page div .content-page.about .level3D {
  position: fixed;
  top: 10%;
  left: 0;
  background-color: var(--background-color);
  width: 100vw;
  height: 80vh;
}

.inner .page div .content-page.about .content-info {
  width: 100vw;
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 1% 10%;
  font-size: 30px;
  font-family: 'Bernardo';
}

.inner .page div .content-page.about .content-info .content-presentation {
  padding: 0% 3% 0% 3%;
  font-family: 'Sketch';
}

.inner .page div .content-page.about .content-info .content-description {
  padding: 3% 3% 0% 3%;
}

.inner .page div .content-page.work {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3%;
  background-color: var(--background-color);
  justify-content: center;
}

.inner .page div .content-page.work h1 {
  text-align: center;
  font-weight: 500;
  font-family: Sketch, serif;
  height: 10vh;
  position: absolute;
  z-index: 1;
}

.inner .page div .content-page.work .content-gallery {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: auto;
}

.inner .page div .content-page.work .desc-selection {
  position: fixed;
  background-color: #000000d4;
  display: none;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  padding: 1rem;
}

.inner .page div .content-page.work .desc-selection .name-experience {
  font-family: 'Girlfriend';
  font-size: 1.2rem;
  color: #C7CFC7;
}

.inner .page div .content-page.work .desc-selection .desc-experience {
  color: #C7CFC7;
  font-family: 'Gogh';
  font-size: 0.85rem;
}

.inner .page div .content-page.work .desc-selection.active {
  display: flex;
}

.inner .page div .content-page.contact {
  width: 100vw;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.inner .page div .content-page.contact .dragme {
  position: absolute;
  border: 1px solid #367994;
  z-index: 1;
  border-radius: 5rem;
  width: 5rem;
  height: 5rem;
  font-size: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 22%;
  left: 68%;
}

.inner .page div .content-page.contact .dragme:before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 0;
  height: 0;
  border-width: 25px 25px 0;
  border-style: solid;
  transform: rotate(18deg);
  border-color: #367994 transparent transparent;
}

.inner .page div .content-page.contact .content-contact-info {
  width: 100%;
  color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 35%;
  gap: 5%;
  font-family: 'Bernardo';
  font-size: 25px;
}

.inner .page div .content-page.contact .level3D {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
}

.inner .page div .options-section {
  display: flex;
  position: relative;
  width: 100vw;
  height: 10vh;
  text-align: right;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 2% 0 2%;
  background-color: transparent;
  z-index: 1;
}

.inner .page div .container-work .options-section {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 10vh;
  text-align: right;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 2% 0 2%;
  top: 90%;
  background-color: transparent;
}

.inner .page div .options-section .option-section {
  display: flex;
  position: relative;
  border: 1px solid var(--border-btn);
  height: 5vh;
  text-align: center;
  padding: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.inner .page div .options-section .option-section a {
  text-decoration: none;
}

.inner .page div .content-page h1 {
  text-align: center;
  font-weight: 500;
  font-family: Sketch, serif;
  width: 50vw;
  height: 10vh;
  position: relative;
}

.inner .page div .content-page.home h1.textaligright {
  text-align: right;
}

.inner .slide {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  z-index: 99;
}
.content-items {
  width: 100vw;
  height: 100vh;
}

.content-items > .item {
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  position: fixed;
}

.content-items > .itemBack {
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  position: fixed;
}

#burger-menu {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 50px;
  overflow: visible;
  position: relative;
  z-index: 2;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: var(--border-btn);
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
  content: "";
}
#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}
#burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 27px;
}
#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
#burger-menu.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}
#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.5);
}
#menu ul {
  padding: 0;
  top: 15%;
  position: relative;
}
#menu li {
  list-style: none;
}
#menu a {
  color: #fff;
  display: block;
  font-size: 45px;
  margin-bottom: 30px;
  text-decoration: none;
}
#containerInk {
  filter: url(#threshold) blur(0.6px);
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
#text1 {
  user-select: none;
  opacity: 0;
  position: absolute;
}
#text2 {
  user-select: none;
  position: absolute;
}
